<div class="container-fluid all-page">
    <br>
    <div class="row d-flex justify-content-end" style="padding-right: 15px; padding-left: 10px;">
        <div id="custom-search-input">
            <div class="input-group">
                <input type="text" class="form-control input-lg" [(ngModel)]="searchText" placeholder="Procurar utilizador..." />
                <span class="input-group-btn">
            <button class="search-btn" type="button">
              <i class="fas fa-search"></i>
            </button>
        </span>
            </div>
        </div>
    </div>
    <br>
    <p class="text-center"><i *ngIf="spinner" class="fa fa-spinner fa-pulse fa-3x fa-fw loading_spin"></i>
    </p>
    <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-sm-8 table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nome do utilizador</th>
                        <th scope="col">Email</th>
                        <th scope="col">Estado do Email</th>
                        <th scope="col">Contacto</th>
                        <th scope="col">Unidade Sanitária</th>
                        <th scope="col">Estado</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of utilizadores | filter:searchText">
                    <!-- <tbody> -->
                    <tr>
                        <td>{{item.nome}}</td>
                        <td>{{item.email}}</td>
                        <td>
                            <ng-container *ngIf="item.email_verificado == 1"> <span class="activo-status">Verificado</span></ng-container>
                            <ng-container *ngIf="item.email_verificado == 0"> <span class="inactivo-status">Não verificado</span></ng-container>

                        </td>
                        <td>{{item.contacto}}</td>
                        <td>
                            <ng-container *ngIf="empresas">
                                {{getEmpresaName(item.unidadeSanitaria.id)}}
                            </ng-container>
                        </td>
                        <td>
                            <ng-container *ngIf="item.activo == 1"> <span class="activo-status">Activo</span></ng-container>
                            <ng-container *ngIf="item.activo == 0"> <span class="inactivo-status">Inativo</span></ng-container>

                        </td>
                        <td> <button type="button" class="btn btn-edit" (click)="viewCard(item)" data-toggle="modal" data-target="#crudModal">Editar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- REGIST, VIEW, EDIT MODAL-->
<div class="modal fade" id="crudModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <!--Modal: Contact form-->
    <div class="modal-dialog modal-lg" role="document">
        <!-- CLASS => cascading-modal -->
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h6 class="title">
                    Utilizador
                </h6>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">×</span>
</button>
            </div>
            <!--Body-->
            <div class="modal-body">
                <form [formGroup]="form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-12 form-group">
                                <label for="role_id">Perfil</label>
                                <mat-select formControlName="role_id" name="role_id" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.controls.role_id.errors }">
                                    <mat-option *ngFor="let opcao of perfil_roles" [value]="opcao.id">
                                        {{opcao.role}}
                                    </mat-option>
                                </mat-select>
                                <div *ngIf="submitted && form.controls.role_id.errors" class="invalid-feedback">
                                    <div *ngIf="form.controls.role_id.errors.required">Este campo é obrigatório
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 form-group">
                                <label for="nome"> Nome</label>
                                <input type="text" formControlName="nome" placeholder="" maxlength="80" name="nome" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.controls.nome.errors }">
                                <div *ngIf="submitted && form.controls.nome.errors" class="invalid-feedback">
                                    <div *ngIf="form.controls.nome.errors.required">Este campo é obrigatório</div>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <label for="email"> Email</label>
                                <input type="text" formControlName="email" placeholder="" maxlength="80" name="email" class="form-control" >
                                <div *ngIf="submitted && form.controls.email.errors" class="invalid-feedback">
                                    <div *ngIf="form.controls.email.errors.required">Este campo é obrigatório</div>
                                </div>
                            </div>

                            <div class="col-md-12 form-group">
                                <label for="nacionalidade">Nacionalidade</label>
                                <mat-select formControlName="nacionalidade" name="nacionalidade" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.controls.nacionalidade.errors }">
                                    <!-- <mat-option *ngFor="let opcao of categoria_farmaceutico" value="opcao.nome">
                                {{opcao.nome}}
                            </mat-option> -->
                                    <mat-option value="" selected>Selecione
                                    </mat-option>
                                    <mat-option value="Mocambique">Moçambique</mat-option>
                                    <mat-option value="Africa do Sul">África do Sul</mat-option>
                                    <mat-option value="Albania">Albânia</mat-option>
                                    <mat-option value="Alemanha">Alemanha</mat-option>
                                    <mat-option value="Andorra">Andorra</mat-option>
                                    <mat-option value="Angola">Angola</mat-option>
                                    <mat-option value="Anguilla">Anguilla</mat-option>
                                    <mat-option value="Antigua">Antigua</mat-option>
                                    <mat-option value="Arabia Saudita">Arábia Saudita</mat-option>
                                    <mat-option value="Argentina">Argentina</mat-option>
                                    <mat-option value="Armenia">Armênia</mat-option>
                                    <mat-option value="Aruba">Aruba</mat-option>
                                    <mat-option value="Australia">Austrália</mat-option>
                                    <mat-option value="Áustria">Áustria</mat-option>
                                    <mat-option value="Azerbaijao">Azerbaijão</mat-option>
                                    <mat-option value="Bahamas">Bahamas</mat-option>
                                    <mat-option value="Bahrein">Bahrein</mat-option>
                                    <mat-option value="Bangladesh">Bangladesh</mat-option>
                                    <mat-option value="Barbados">Barbados</mat-option>
                                    <mat-option value="Belgica">Bélgica</mat-option>
                                    <mat-option value="Benin">Benin</mat-option>
                                    <mat-option value="Bermudas">Bermudas</mat-option>
                                    <mat-option value="Botsuana">Botsuana</mat-option>
                                    <mat-option value="Brasil">Brasil</mat-option>
                                    <mat-option value="Brunei">Brunei</mat-option>
                                    <mat-option value="Bulgaria">Bulgária</mat-option>
                                    <mat-option value="Burkina Fasso">Burkina Fasso</mat-option>
                                    <mat-option value="botao">botão</mat-option>
                                    <mat-option value="Cabo Verde">Cabo Verde</mat-option>
                                    <mat-option value="Camaroes">Camarões</mat-option>
                                    <mat-option value="Camboja">Camboja</mat-option>
                                    <mat-option value="Canada">Canadá</mat-option>
                                    <mat-option value="Cazaquistao">Cazaquistão</mat-option>
                                    <mat-option value="Chade">Chade</mat-option>
                                    <mat-option value="Chile">Chile</mat-option>
                                    <mat-option value="China">China</mat-option>
                                    <mat-option value="Cidade do Vaticano">Cidade do Vaticano</mat-option>
                                    <mat-option value="Colombia">Colômbia</mat-option>
                                    <mat-option value="Congo">Congo</mat-option>
                                    <mat-option value="Coreia do Sul">Coréia do Sul</mat-option>
                                    <mat-option value="Costa do Marfim">Costa do Marfim</mat-option>
                                    <mat-option value="Costa Rica">Costa Rica</mat-option>
                                    <mat-option value="Croacia">Croácia</mat-option>
                                    <mat-option value="Dinamarca">Dinamarca</mat-option>
                                    <mat-option value="Djibuti">Djibuti</mat-option>
                                    <mat-option value="Dominica">Dominica</mat-option>
                                    <mat-option value="EUA">EUA</mat-option>
                                    <mat-option value="Egito">Egito</mat-option>
                                    <mat-option value="El Salvador">El Salvador</mat-option>
                                    <mat-option value="Emirados Árabes">Emirados Árabes</mat-option>
                                    <mat-option value="Equador">Equador</mat-option>
                                    <mat-option value="Eritreia">Eritréia</mat-option>
                                    <mat-option value="Escocia">Escócia</mat-option>
                                    <mat-option value="Eslovaquia">Eslováquia</mat-option>
                                    <mat-option value="Eslovenia">Eslovênia</mat-option>
                                    <mat-option value="Espanha">Espanha</mat-option>
                                    <mat-option value="Estonia">Estônia</mat-option>
                                    <mat-option value="Etiopia">Etiópia</mat-option>
                                    <mat-option value="Fiji">Fiji</mat-option>
                                    <mat-option value="Filipinas">Filipinas</mat-option>
                                    <mat-option value="Finlandia">Finlândia</mat-option>
                                    <mat-option value="Franca">França</mat-option>
                                    <mat-option value="Gabao">Gabão</mat-option>
                                    <mat-option value="Gambia">Gâmbia</mat-option>
                                    <mat-option value="Gana">Gana</mat-option>
                                    <mat-option value="Georgia">Geórgia</mat-option>
                                    <mat-option value="Gibraltar">Gibraltar</mat-option>
                                    <mat-option value="Granada">Granada</mat-option>
                                    <mat-option value="Grecia">Grécia</mat-option>
                                    <mat-option value="Guadalupe">Guadalupe</mat-option>
                                    <mat-option value="Guam">Guam</mat-option>
                                    <mat-option value="Guatemala">Guatemala</mat-option>
                                    <mat-option value="Guiana">Guiana</mat-option>
                                    <mat-option value="Guiana Francesa">Guiana Francesa</mat-option>
                                    <mat-option value="Guine-bissau">Guiné-bissau</mat-option>
                                    <mat-option value="Haiti">Haiti</mat-option>
                                    <mat-option value="Holanda">Holanda</mat-option>
                                    <mat-option value="Honduras">Honduras</mat-option>
                                    <mat-option value="Hong Kong">Hong Kong</mat-option>
                                    <mat-option value="Hungria">Hungria</mat-option>
                                    <mat-option value="Iemen">Iêmen</mat-option>
                                    <mat-option value="Ilhas Cayman">Ilhas Cayman</mat-option>
                                    <mat-option value="Ilhas Cook">Ilhas Cook</mat-option>
                                    <mat-option value="Ilhas Curacao">Ilhas Curaçao</mat-option>
                                    <mat-option value="Ilhas Marshall">Ilhas Marshall</mat-option>
                                    <mat-option value="Ilhas Turks & Caicos">Ilhas Turks & Caicos
                                    </mat-option>
                                    <mat-option value="Ilhas Virgens (brit.)">Ilhas Virgens (brit.)
                                    </mat-option>
                                    <mat-option value="Ilhas Virgens(amer.)">Ilhas Virgens(amer.)
                                    </mat-option>
                                    <mat-option value="Ilhas Wallis e Futuna">Ilhas Wallis e Futuna
                                    </mat-option>
                                    <mat-option value="India">Índia</mat-option>
                                    <mat-option value="Indonesia">Indonésia</mat-option>
                                    <mat-option value="Inglaterra">Inglaterra</mat-option>
                                    <mat-option value="Irlanda">Irlanda</mat-option>
                                    <mat-option value="Islandia">Islândia</mat-option>
                                    <mat-option value="Israel">Israel</mat-option>
                                    <mat-option value="Italia">Itália</mat-option>
                                    <mat-option value="Jamaica">Jamaica</mat-option>
                                    <mat-option value="Japao">Japão</mat-option>
                                    <mat-option value="Jordania">Jordânia</mat-option>
                                    <mat-option value="Kuwait">Kuwait</mat-option>
                                    <mat-option value="Latvia">Latvia</mat-option>
                                    <mat-option value="Libano">Líbano</mat-option>
                                    <mat-option value="Liechtenstein">Liechtenstein</mat-option>
                                    <mat-option value="Lituania">Lituânia</mat-option>
                                    <mat-option value="Luxemburgo">Luxemburgo</mat-option>
                                    <mat-option value="Macau">Macau</mat-option>
                                    <mat-option value="Macedonia">Macedônia</mat-option>
                                    <mat-option value="Madagascar">Madagascar</mat-option>
                                    <mat-option value="Malasia">Malásia</mat-option>
                                    <mat-option value="Malaui">Malaui</mat-option>
                                    <mat-option value="Mali">Mali</mat-option>
                                    <mat-option value="Malta">Malta</mat-option>
                                    <mat-option value="Marrocos">Marrocos</mat-option>
                                    <mat-option value="Martinica">Martinica</mat-option>
                                    <mat-option value="Mauritania">Mauritânia</mat-option>
                                    <mat-option value="Mauritius">Mauritius</mat-option>
                                    <mat-option value="Mexico">México</mat-option>
                                    <mat-option value="Mocambique">Moçambique</mat-option>
                                    <mat-option value="Moldova">Moldova</mat-option>
                                    <mat-option value="Monaco">Mônaco</mat-option>
                                    <mat-option value="Montserrat">Montserrat</mat-option>
                                    <mat-option value="Nepal">Nepal</mat-option>
                                    <mat-option value="Nicaragua">Nicarágua</mat-option>
                                    <mat-option value="Niger">Niger</mat-option>
                                    <mat-option value="Nigeria">Nigéria</mat-option>
                                    <mat-option value="Noruega">Noruega</mat-option>
                                    <mat-option value="Nova Caledonia">Nova Caledônia</mat-option>
                                    <mat-option value="Nova Zelandia">Nova Zelândia</mat-option>
                                    <mat-option value="Oma">Omã</mat-option>
                                    <mat-option value="Palau">Palau</mat-option>
                                    <mat-option value="Panama">Panamá</mat-option>
                                    <mat-option value="Papua-nova Guine">Papua-nova Guiné</mat-option>
                                    <mat-option value="Paquistao">Paquistão</mat-option>
                                    <mat-option value="Peru">Peru</mat-option>
                                    <mat-option value="Polinesia Francesa">Polinésia Francesa</mat-option>
                                    <mat-option value="Polonia">Polônia</mat-option>
                                    <mat-option value="Porto Rico">Porto Rico</mat-option>
                                    <mat-option value="Portugal">Portugal</mat-option>
                                    <mat-option value="Qatar">Qatar</mat-option>
                                    <mat-option value="Quenia">Quênia</mat-option>
                                    <mat-option value="Rep. Dominicana">Rep. Dominicana</mat-option>
                                    <mat-option value="Rep. Tcheca">Rep. Tcheca</mat-option>
                                    <mat-option value="Reunion">Reunion</mat-option>
                                    <mat-option value="Romenia">Romênia</mat-option>
                                    <mat-option value="Ruanda">Ruanda</mat-option>
                                    <mat-option value="Russia">Rússia</mat-option>
                                    <mat-option value="Saipan">Saipan</mat-option>
                                    <mat-option value="Samoa Americana">Samoa Americana</mat-option>
                                    <mat-option value="Senegal">Senegal</mat-option>
                                    <mat-option value="Serra Leone">Serra Leone</mat-option>
                                    <mat-option value="Seychelles">Seychelles</mat-option>
                                    <mat-option value="Singapura">Singapura</mat-option>
                                    <mat-option value="Síria">Síria</mat-option>
                                    <mat-option value="Sri Lanka">Sri Lanka</mat-option>
                                    <mat-option value="St. Kitts & Nevis">St. Kitts & Nevis</mat-option>
                                    <mat-option value="St. Lucia">St. Lúcia</mat-option>
                                    <mat-option value="St. Vincent">St. Vincent</mat-option>
                                    <mat-option value="Sudao">Sudão</mat-option>
                                    <mat-option value="Suecia">Suécia</mat-option>
                                    <mat-option value="Suica">Suiça</mat-option>
                                    <mat-option value="Suriname">Suriname</mat-option>
                                    <mat-option value="Tailandia">Tailândia</mat-option>
                                    <mat-option value="Taiwan">Taiwan</mat-option>
                                    <mat-option value="Tanzania">Tanzânia</mat-option>
                                    <mat-option value="Togo">Togo</mat-option>
                                    <mat-option value="Trinidad & Tobago">Trinidad & Tobago</mat-option>
                                    <mat-option value="Tunisia">Tunísia</mat-option>
                                    <mat-option value="Turquia">Turquia</mat-option>
                                    <mat-option value="Ucrania">Ucrânia</mat-option>
                                    <mat-option value="Uganda">Uganda</mat-option>
                                    <mat-option value="Uruguai">Uruguai</mat-option>
                                    <mat-option value="Venezuela">Venezuela</mat-option>
                                    <mat-option value="Vietna">Vietnã</mat-option>
                                    <mat-option value="Zaire">Zaire</mat-option>
                                    <mat-option value="Zambia">Zâmbia</mat-option>
                                    <mat-option value="Zimbabue">Zimbábue</mat-option>
                                </mat-select>
                                <div *ngIf="submitted && form.controls.nacionalidade.errors" class="invalid-feedback">
                                    <div *ngIf="form.controls.nacionalidade.errors.required">Este campo é obrigatório
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 form-group">
                                <label for="unidade_sanitaria_id">Unidade Sanitária</label>
                                <input type="text" value="{{getEmpresaName(utilizadorView.id)}}" placeholder="" maxlength="13" name="nome" class="form-control" disabled *ngIf="utilizadorView.id">
                            </div>
                            <div class="col-md-12 form-group">
                                <label for="contacto"> Contacto</label>
                                <input type="text" formControlName="contacto" placeholder="" maxlength="13" name="contacto" class="form-control" (ngModelChange)="onTelefoneChange($event)" [ngClass]="{ 'is-invalid': (submitted && form.controls.contacto.errors) || invalidTelefoneBoolean }">
                                <div *ngIf="invalidTelefoneBoolean" class="invalid-feedback d-block">Este campo deve ser válido </div>
                                <div *ngIf="submitted && form.controls.contacto.errors" class="invalid-feedback">
                                    <div *ngIf="form.controls.contacto.errors.required">Este campo é obrigatório</div>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <label for="activo">Situação</label>
                                <mat-select id="activo" formControlName="activo" name="activo" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.controls.activo.errors }">
                                    <mat-option *ngFor="let opcao of situacao_farmaceutico" [value]="opcao.value">
                                        {{opcao.nome}}
                                    </mat-option>
                                </mat-select>
                                <div *ngIf="submitted && form.controls.activo.errors" class="invalid-feedback">
                                    <div *ngIf="form.controls.activo.errors.required">Este campo é obrigatório
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <label for="observacoes"> Observações</label>
                                <textarea rows="2" class="form-control" formControlName="observacoes" name="observacoes"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="permissaos">Permissões</label>
                                    <mat-select formControlName="permissaos" (selectionChange)="onSelectOption($event)" multiple>
                                        <mat-option *ngFor="let op of perfil_permissoes" [value]="op.id">{{op.nome}}</mat-option>
                                    </mat-select>
                                    <div *ngIf="submitted && form.controls.permissaos.errors" class="invalid-feedback">
                                        <div *ngIf="form.controls.permissaos.errors.required">Este campo é obrigatório
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="permissaos">Lista de permissões selecionadas:</label>
                                </div>
                                <ng-container *ngFor="let item of perfil_permissoes">
                                    <!-- <label for="">{{item.nome}}</label> -->
                                    <ng-container *ngFor="let select_id of selectedPermissoes; let i = index">
                                        <div class="col-md-12 form-group selected-permissoes" *ngIf="item.id == select_id">
                                            <label for="">{{i + 1}}- {{item.nome}}</label>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
                            <button type="submit" class="btn btn-indigo white-text float-left" (click)="toUpdate()" *ngIf="viewBtn">actualizar</button>
                            <button type="submit" class="btn btn-indigo white-text text-center" [disabled]="spinner" (click)="updateSubmit()" *ngIf="editBtn">Submeter</button>
                            <button type="submit" class="btn btn-outline-indigo float-right" (click)="delete()" *ngIf="viewBtn" [disabled]="spinner">Apagar</button>
                            <p class="text-center"><i *ngIf="spinner" class="fa fa-spinner fa-pulse fa-3x fa-fw loading_spin"></i>
                            </p>
                        </div>
                        <button type="button" style="display: none;" id="actualizarID" data-dismiss="modal">sub</button>
                    </div>
                </form>
                <!-- Form -->
            </div>
        </div>
        <!--/.Content-->
    </div>
    <!--/Modal: Contact form-->
</div>