<!-- <div id="content"> -->

<div class="card w-100">
    <div class="card-body">
        <h3 class="text-center">
            Alterar a senha
        </h3>
        <hr>

        <form [formGroup]="myForm" (ngSubmit)="loginNewPassword()">
            <div class="d-flex justify-content-center">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8">
                        <div class="form-group input">
                            <span class="fa fa-lock form-control-feedback"></span>
                            <input type="password" id="form2" formControlName="password_atual" placeholder="Senha actual" name="password_atual" class="form-control" [ngClass]="{ 'is-invalid': submitted && myForm.controls.password_atual.errors }">
                            <!-- <label for="form2"> Nome</label> -->
                            <div *ngIf="submitted && myForm.controls.password_atual.errors" class="invalid-feedback">
                                <div *ngIf="myForm.controls.password_atual.errors.required">Senha actual é obrigatória</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="form-group input">
                            <span class="fa fa-lock form-control-feedback"></span>
                            <input type="password" id="form3" placeholder="Nova senha" class="form-control" formControlName="password" name="codigo" [ngClass]="{ 'is-invalid': submitted && myForm.controls.password_atual.errors }">
                            <div *ngIf="submitted && myForm.controls.password.errors" class="invalid-feedback">
                                <div *ngIf="myForm.controls.password.errors.required">A nova senha é obrigatória</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 text-center">
                        <!-- <button type="submit" class="btn btn-outline-indigo waves-effect" (click)="addAgencia()"
                [disabled]="loading">Cancelar</button> -->
                        <button type="submit" class="btn btn-indigo white-text" [disabled]="spinner">Submeter</button>
                        <p class="text-center"><i *ngIf="spinner" class="fa fa-spinner fa-pulse fa-3x fa-fw loading_spin"></i>
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>