footer.page-footer .footer-copyright {
    color: #2C3E50 !important;
    overflow: hidden !important;
    background-color: #ffffff;
    /* color: rgba(255, 255, 255, .6); */
}

.footer-copyright a {
    color: #2C3E50;
}

.footer-copyright img {
    width: 50px;
}