.all-page {
    background: #F3F7F8;
    width: 100%;
    min-height: 100vh;
}

.card-body {
    background-color: #fafafa !important;
    color: #2d2d2d;
}

.div_description {
    overflow: hidden;
}

.loading_spin {
    color: rgb(255, 85, 30);
}